<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="img/x-icon" />
    <link rel="stylesheet" href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link href="{{  url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
    <link href="{{  url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{  url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
    <link href="{{  url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{  url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{  url_for('static', filename='vendor/remixicon/remixicon.css') }}" rel="stylesheet">
    <title>Final Project-2 Logistic Regression and SVM</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css"
        integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/solid.css"
        integrity="sha384-DhmF1FmzR9+RBLmbsAts3Sp+i6cZMWQwNTRsew7pO/e4gvzqmzcpAzhDIwllPonQ" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/fontawesome.css"
        integrity="sha384-zIaWifL2YFF1qaDiAo0JFgsmasocJ/rqu7LKYH8CoBEXqGbb9eO+Xi3s6fQhgFWM" crossorigin="anonymous" />
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container  d-flex align-items-center">
            <h1 class="me-auto logo ">Weather Forecast in Australia</h1>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">Explanation</a></li>
                    <li><a class="nav-link scrollto" href="#portfolio">Chart</a></li>
                    <li><a class="nav-link scrollto" href="#team">Team</a></li>
                    <li><a class="nav-link scrollto" href="#prediction">Prediction Section</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                    data-aos="fade-up">
                    <h1>Final Project-2 Hacktiv8 Study Independent</h1>
                    <h2>This FP represent about Predict next-day rain in Australia</h2>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in">
                    <img src="{{  url_for('static', filename='img/hero_img.jpg') }}" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero -->
    <main id="main">

        <!-- About Section -->
        <section id="about" class="about section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Explanation
                        <br>
                        <h6 class="mt-3 text-black-50">
                            In this section, there is a description of the
                            abstract and also a
                            description
                            of the data.
                        </h6>
                    </h2>
                </div>
                <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="definition-tab" data-toggle="tab" href="#definition" role="tab"
                            aria-controls="home" aria-selected="true">Definition</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="data-tab" data-toggle="tab" href="#data" role="tab"
                            aria-controls="profile" aria-selected="false">Data</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="definition" role="tabpanel"
                        aria-labelledby="definition-tab">
                        <div class="mt-4">
                            <p class="text-center">
                                Hujan adalah proses kondensasi uap air di atmosfer menjadi butir air yang 
                                cukup berat untuk jatuh dan biasanya tiba di daratan.
                                Terbentuknya hujan dikarenakan adanya penguapan air 
                                permukaan bumi yang berkumpul menjadi gumpalan awan dan 
                                jatuh kembali karena tertiup angin. 
                            </p>
                            <p class="text-center">
                                Terkadang hujan bisa menjadi menyebalkan bagi sebagian orang, entah karena
                                ingin pergi berlibur namun harinya tiba-tiba hujan atau sedang berada di luar 
                                namun tidak membawa payung atau jas hujan.
                            </p>
                            <p class="text-center">
                                Dengan machine learning, kita dapat mengetahui apakah besok akan hujan atau 
                                tidak dan kita pun dapat bersiap-siap dalam menghadapi hujan dan tidak gampang
                                badmood akibat hujan karena kita udah dapat memprediksikannya.
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="data" role="tabpanel" aria-labelledby="data-tab">
                        <div class="mt-4">
                            <p>Dataset yang digunakan yaitu <a href="https://www.kaggle.com/datasets/jsphyg/weather-dataset-rattle-package"
                                    style="text-decoration: none;" target="_blank"><b style="font-style: italic">Rain in Australia</b></a> :
                                <br><br>
                                Data ini memiliki 23 atribut. Prediksi cuaca di Australia. berikut merupakan deskripsi data:
                            </p>
                            <table class="table table-white table-bordered border-4 border-white">
                                <thead>
                                    <tr style="text-align: center">
                                        <th style="text-align: center" scope="col">No</th>
                                        <th style="text-align: center" scope="col">Nama Atribut</th>
                                        <th style="text-align: center" scope="col">Keterangan</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- 1 -->
                                    <tr>
                                        <th style="text-align: center" scope="row">1</th>
                                        <td>Date</td>
                                        <td>tanggal hari itu</td>
                                    </tr>
                                    <!-- 2 -->
                                    <tr>
                                        <th style="text-align: center" scope="row">2</th>
                                        <td>Location</td>
                                        <td>lokasi, nama kota di Australia
                                        </td>
                                    </tr>
                                    <!-- 3 -->
                                    <tr>
                                        <th style="text-align: center" scope="row">3</th>
                                        <td>MinTemp</td>
                                        <td>temperatur terendah hari itu dalam celcius
                                        </td>
                                    </tr>
                                    <!-- 4 -->
                                    <tr>
                                        <th style="text-align: center" scope="row">4</th>
                                        <td>MaxTemp</td>
                                        <td>temperatur tertinggi hari itu dalam celcius
                                        </td>
                                    </tr>
                                    <!-- 5 -->
                                    <tr>
                                        <th style="text-align: center" scope="row">5</th>
                                        <td>Rainfall</td>
                                        <td>jumlah curah hujan hari itu dalam mm
                                        </td>
                                    </tr>
                                    <!-- 6 -->
                                    <tr>
                                        <th style="text-align: center" scope="row">6</th>
                                        <td>Evaporation</td>
                                        <td>jumlah evaporasi dalam mm dari Class A pan selama 24 jam
                                            sebelum jam 9 pagi hari itu
                                        </td>
                                    </tr>
                                    <!-- 7 -->
                                    <tr>
                                        <th style="text-align: center" scope="row">7</th>
                                        <td>Sunshine</td>
                                        <td>jumlah jam hari itu cerah dengan cahaya matahari
                                        </td>
                                    </tr>
                                    <!-- 8 -->
                                    <tr>
                                        <th style="text-align: center" scope="row">8</th>
                                        <td>WindGustDir</td>
                                        <td>arah kecepatan angin yang paling tinggi selama 24 jam sebelum
                                            jam 12 malam hari itu
                                        </td>
                                    </tr>
                                    <!-- 9 -->
                                    <tr>
                                        <th style="text-align: center" scope="row">9</th>
                                        <td>WindGustSpeed</td>
                                        <td>kecepatan angin yang paling tinggi dalam km/jam selama 24
                                            jam sebelum jam 12 malam hari itu
                                        </td>
                                    </tr>
                                    <!-- 10 -->
                                    <tr>
                                        <th style="text-align: center" scope="row">10</th>
                                        <td>WindDir9am</td>
                                        <td>arah angin jam 9 pagi</td>
                                    </tr>
                                    <!-- 11 -->
                                    <tr>
                                        <th style="text-align: center" scope="row">11</th>
                                        <td>WindDir3pm</td>
                                        <td>arah angin jam 3 sore</td>
                                    </tr>
                                    <!-- 12 -->
                                    <tr>
                                        <th style="text-align: center" scope="row">12</th>
                                        <td>WindSpeed9am</td>
                                        <td>kecepatan angin jam 9 pagi dalam km/jam dihitung dari
                                            rata-rata kecepatan angin 10 menit sebelum jam 3 sore
                                        </td>
                                    </tr>
                                    <!-- 13 -->
                                    <tr>
                                        <th style="text-align: center" scope="row">13</th>
                                        <td>WindSpeed3pm</td>
                                        <td>kecepatan angin jam 3 sore dalam km/jam dihitung dari
                                            rata-rata kecepatan angin 10 menit sebelum jam 3 sore
                                        </td>
                                    </tr>
                                    <!-- 14 -->
                                    <tr>
                                        <th style="text-align: center" scope="row">14</th>
                                        <td>Humidity9am</td>
                                        <td>humiditas jam 9 pagi dalam persen</td>
                                    </tr>
                                    <!-- 15 -->
                                    <tr>
                                        <th style="text-align: center" scope="row">15</th>
                                        <td>Humidity3pm</td>
                                        <td>humiditas jam 3 sore dalam persen</td>
                                    </tr>
                                    <!-- 16 -->
                                    <tr>
                                        <th style="text-align: center" scope="row">16</th>
                                        <td>Pressure9am</td>
                                        <td>tekanan udara jam 9 pagi dalam hpa</td>
                                    </tr>
                                    <!-- 17 -->
                                    <tr>
                                        <th style="text-align: center" scope="row">17</th>
                                        <td>Pressure3pm</td>
                                        <td>tekanan udara jam 3 sore dalam hpa</td>
                                    </tr>
                                    <!-- 18 -->
                                    <tr>
                                        <th style="text-align: center" scope="row">18</th>
                                        <td>Cloud9am</td>
                                        <td>persentase langit yang tertutup awan jam 9 pagi. dihitung dalam
                                            oktas, unit ⅛, menghitung berapa unit ⅛ dari langit yang tertutup awan. Jika 0,
                                            langit cerah, jika 8, langit sepenuhnya tertutup awan.
                                        </td>
                                    </tr>
                                    <!-- 19 -->
                                    <tr>
                                        <th style="text-align: center" scope="row">19</th>
                                        <td>Cloud3pm</td>
                                        <td>persentase langit yang tertutup awan jam 3 sore
                                        </td>
                                    </tr>
                                    <!-- 20 -->
                                    <tr>
                                        <th style="text-align: center" scope="row">20</th>
                                        <td>Temp9am</td>
                                        <td>temperatur jam 9 pagi dalam celcius
                                        </td>
                                    </tr>
                                    <!-- 21 -->
                                    <tr>
                                        <th style="text-align: center" scope="row">21</th>
                                        <td>Temp3pm</td>
                                        <td>temperatur jam 3 sore dalam celcius
                                        </td>
                                    </tr>
                                    <!-- 22 -->
                                    <tr>
                                        <th style="text-align: center" scope="row">22</th>
                                        <td>RainToday</td>
                                        <td>apakah hari ini hujan: jika curah hujan 24 jam sebelum jam 9 pagi
                                            melebihi 1mm, maka nilai ini adalah 1, jika tidak nilai nya 0
                                        </td>
                                    </tr>
                                    <!-- 23 -->
                                    <tr>
                                        <th style="text-align: center" scope="row">23</th>
                                        <td>RainTomorrow</td>
                                        <td>apakah besok hujan? (variable yang mau di prediksi)
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </section>
        <!-- End About Section -->

        <!-- Start Chart Section -->
        <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Chart and Diagram Data Analysis</h2>
                    <p>These chart represent some analysis of rain in Australia dataset using various of type diagram</p>
                </div>

                <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up">
                    <li data-filter="*" class="filter-active">All Graphic Plot</li>
                    <li data-filter=".filter-eda">EDA Diagrams</li>
                    <li data-filter=".filter-cm">Confusion Matrix</li>
                </ul>

                <div class="row portfolio-container" data-aos="fade-up">
                    <!-- Chart Section 1 -->
                    <div>
                        <!-- d-1 -->
                        <div class="col-lg-4 col-md-6 portfolio-item filter-eda">
                            <div class="portfolio-img">
                                <img src="{{ url_for('static', filename='img/diagram/bar_chart.png') }}"
                                    class="img-fluid" alt="">
                            </div>
                            <div class="portfolio-info">
                                <h4>Bar Chart</h4>
                                <p>Comparison of today's rain or not based on location</p>
                            </div>
                        </div>
                        <!-- d-2 -->
                        <div class="col-lg-4 col-md-6 portfolio-item filter-eda">
                            <div class="portfolio-img">
                                <img src="{{ url_for('static', filename='img/diagram/corr_diagram.png') }}"
                                    class="img-fluid" alt="">
                            </div>
                            <div class="portfolio-info">
                                <h4>Correlation Diagram</h4>
                                <p>the correlation between each features on dataset</p>
                            </div>
                        </div>
                        <!-- d-3 -->
                        <div class="col-lg-4 col-md-6 portfolio-item filter-eda">
                            <div class="portfolio-img">
                                <img src="{{ url_for('static', filename='img/diagram/pie_chart.png') }}"
                                    class="img-fluid" alt="">
                            </div>
                            <div class="portfolio-info">
                                <h4>Pie Chart</h4>
                                <p>The Percentation of RainTomorrow on dataset</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Chart Section 1 -->

                    <!-- Chart Section 2 -->
                    <div>
                        <!-- d-1 -->
                        <div class="col-lg-4 col-md-6 portfolio-item filter-cm">
                            <div class="portfolio-img"><img
                                    src="{{ url_for('static', filename='img/diagram/cmlgr.png') }}"
                                    class="img-fluid" alt="">
                            </div>
                            <div class="portfolio-info">
                                <h4>Decision Tree CM</h4>
                                <p>Visualize accuracy between prediction and real data using Decision Tree Model</p>
                            </div>
                        </div>

                        <!-- d-2 -->
                        <div class="col-lg-4 col-md-6 portfolio-item filter-cm">
                            <div class="portfolio-img"><img
                                    src="{{ url_for('static', filename='img/diagram/cmsvm.png') }}"
                                    class="img-fluid" alt="">
                            </div>
                            <div class="portfolio-info">
                                <h4>Decision Tree with Bagging CM</h4>
                                <p>Visualize accuracy between prediction and real data using Decision Tree with Bagging Model</p>
                            </div>
                        </div>

                    </div>
                    <!-- End Chart Section 2 -->
                </div>
            </div>
        </section>
        <!-- End Chart Section -->

        <!-- Start Team Section -->
        <section id="team" class="team section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Team</h2>
                    <p>This group contains 3 certified independent study participants, namely:</p>
                </div>

                <div class="row">

                    <div class="col-lg-6">
                        <div class="member d-flex align-items-start" data-aos="zoom-in">
                            <div class="pic"><img src="{{ url_for('static', filename='img/avatar_2.jpg') }}"
                                    class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Muhammad Ismail</h4>
                                <span>Studi Independen</span>
                                <p>PYTN-KS08-011</p>
                                <div class="social">
                                    <a href="https://github.com/mail2418" target="_blank"><i
                                            class="fa-brands fa-github"></i></a>
                                    <a href="https://www.linkedin.com/in/muhammad-2418-ismail/" target="_blank"><i
                                            class="fa-brands fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-4">
                        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
                            <div class="pic"><img src="{{ url_for('static', filename='img/avatar_1.jpg') }}"
                                    class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Syahrani Nabilla Kharisma H</h4>
                                <span>Studi Independen</span>
                                <p>PYTN-KS08-013</p>
                                <div class="social">
                                    <a href="#"><i class="fa-brands fa-github"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-4">
                        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
                            <div class="pic"><img src="{{ url_for('static', filename='img/avatar_3.jpg') }}"
                                    class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Shendy Krisyohanda</h4>
                                <span>Studi Independen</span>
                                <p>PYTN-KS08-021</p>
                                <div class="social">
                                    <a href="https://github.com/krisyohanda"><i class="fa-brands fa-github"></i></a>
                                    <a href="https://www.linkedin.com/in/shendy-krisyohanda/"><i class="fa-brands fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Team Section -->

        <!-- Start Prediction Section -->
        <section id="prediction" class="contact">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Prediction</h2>
                    <p>Section to predict will it rain tomorrow in Australia according to user's input</p>
                </div>
                <div class="mt-4 text-center">
                    <form action="{{ url_for('predict')}}" method="post" class="php-email-form">
                        <div class="row">
                            <div class="form-group">
                                <label for="WindGustSpeed">Wind Gust Speed</label>
                                <input type="number" class="form-control" name="WindGustSpeed" id="WindGustSpeed"
                                    placeholder="Insert Wind Gust Speed Value - Range (6 - 135)" required min="6" max="135">
                            </div>
                            <div class="form-group">
                                <label for="Humidity9am">Humidity at 9am</label>
                                <input type="number" class="form-control" name="Humidity9am" id="Humidity9am"
                                  placeholder="Insert value Humidity at 9am (%) - Range (0 - 100)" required min="0" max="100">
                            </div>
                            <div class="form-group">
                                <label for="Humidity3pm">Humidity at 3pm</label>
                                <input type="number" class="form-control" name="Humidity3pm" id="Humidity3pm"
                                  placeholder="Insert value Humidity at 3pm (%) - Range (0 - 100)" required min="0" max="100">
                            </div>
                            <div class="form-group">
                                <label for="Cloud9am">Cloud at 9am</label>
                                <input type="number" class="form-control" name="Cloud9am" id="Cloud9am"
                                  placeholder="Insert value Cloud at 9am - Range (0 - 9)" required min="0" max="9">
                            </div>
                            <div class="form-group">
                                <label for="Cloud3pm">Cloud at 3pm</label>
                                <input type="number" class="form-control" name="Cloud3pm" id="Cloud3pm"
                                  placeholder="Insert value Cloud at 3pm - Range (0 - 9)" required min="0" max="9">
                            </div>
                            <div class="form-group">
                                <label for="RainToday">Is it rain today?</label>
                                <select class="form-select" aria-label="Default select example" name="RainToday">
                                  <option selected>Choose for Rain section</option>
                                  <option value="0">No</option>
                                  <option value="1">Yes</option>
                                </select>
                            </div>
                            <div class="text-center">
                                <button type="submit">Predict</button>
                            </div>
                            <p class="message">{{prediction_text}}</p>
                    </form>
                </div>
            </div>
        </section>
        <!-- End Prediction Section -->
    </main>
    <!-- End Main -->

    <!-- Start Footer -->
    <footer id="footer">
        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>Kelompok 5 PYTN-KS08</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/noframework.waypoints.js') }}"></script>
    <script src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
</body>

</html>